@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
}

.carousel .control-dots .dot {
  margin-bottom: 15px;
  padding: 5px;
  background-color: transparent;
  border: white solid 2px;
}

.carousel .control-dots .dot.selected {
  background-color: white;
}

.hero-text {
  font-size: calc(39px + 18 * ((100vw - 320px) / 1600));
}

.slick-prev:before, .slick-next:before {
  color: #189BA6;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 30px;
}


.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 10px;}

.slick-dots li button:before {
  font-size: 14px;
}


/* .custom-border {
  position: relative;

}

.custom-border::before,
.custom-border::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  height: 2px; 
  background: black; 
}

.custom-border::before {
  top: -10px; 
}

.custom-border::after {
  bottom: -10px;
}
 */

.custom-border-h {
  position: relative;

}

.custom-border-h::before,
.custom-border-h::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 2px; 
  background: blue; 
}

.custom-border-h::before {
  left: -2px; 
}

.custom-border-h::after {
  right: -2px;
}



.custom-border {
  position: relative;
}

.custom-border::before,
.custom-border::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Adjust the thickness of the border */
  background: var(--primaryVariant, black); /* Adjust the color of the border */
}

.custom-border::before {
  top: -10px; /* Adjust the overlap of the top border */
}

.custom-border::after {
  bottom: -10px; /* Adjust the overlap of the bottom border */
}

.custom-border::before,
.custom-border::after {
  padding-left: 25px; /* Adjust the padding for left */
  padding-right: 25px; /* Adjust the padding for right */
}

.custom-border:before,
.custom-border:after {
  box-sizing: border-box;
  padding-left: 10px; /* Adjust the padding for left */
  padding-right: 10px; /* Adjust the padding for right */
}

.custom-border::before,
.custom-border::after {
  width: calc(100% - 20px); /* Adjust to ensure borders stay within horizontal padding */
}

.custom-border::before,
.custom-border::after {
  height: 2px; /* Height of the top and bottom borders */
  left: 10px;
  right: 10px;
}

.custom-border::before {
  top: -10px;
}

.custom-border::after {
  bottom: -10px;
}

.custom-border::before,
.custom-border::after {
  content: '';
  position: absolute;
  width: 2px; /* Adjust the thickness of the border */
  background: var(--primaryVariant, black); /* Adjust the color of the border */
}

.custom-border::before {
  left: -10px; /* Adjust the overlap of the left border */
}

.custom-border::after {
  right: -10px; /* Adjust the overlap of the right border */
}

@font-face {
	font-family: 'Nicky Laatz';
	src: url('fonts/Nicky Laatz - Just Lovely Slanted Wide.eot');
	src: local('â˜º'), url('./assets/fonts/Nicky Laatz - Just Lovely Slanted Wide.woff') format('woff'), url('fonts/Nicky Laatz - Just Lovely Slanted Wide.ttf') format('truetype'), url('fonts/Nicky Laatz - Just Lovely Slanted Wide.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fonts-nicky {
  font-family: 'Nicky Laatz', sans-serif; /* Specify fallback font for better compatibility */
}
.fonts-lato {
  font-family: "Lato", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}